//Importes
@use  "../SASS/Variables/Variables" as *;
@use "../SASS/layout/global" as *;
@use "../SASS/layout/animations" as *;

body{
    background-color: $dark-background;
}

header{
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: $dark-elements;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226) ;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.034);
    .nav{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: white;
        &__links{
            .title{
                font-size: 1.6rem;
            }
            .light{
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}

// The main thing 

.main{
    width: 90%;
    margin: 2.5rem auto 0rem auto;
    display: flex;
    justify-content: space-between;

    // [0] the text input
    &__search{
        .search{
            display: inline-block;
            width:24rem;
            height: 3rem;
            padding-left: 2.5rem;
            background-color: $dark-elements;
            border: none;
            outline: none;
            border-radius: 5px;
            &::placeholder{
                color: white;
                font-weight: 400;
            }
        }
    }

    // [1] on the select
    &__origin{
        //[1][0]this is THE button
        position: relative;
        .selected{
            width: 11rem;
            height: 3rem;
            background-color: $dark-elements;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
            border-radius: 5px;
            cursor: pointer;
            h4{
                font-weight: 400;
            }
        }
        .select{
            width: 11rem;
            visibility: hidden;
            background-color: $dark-elements;
            position: absolute;
            border-radius: 5px;
            transition: 0.5S;
            opacity: 0;
            //the unordered
            &__menu{
                border-radius: 5px;
                list-style: none;
                padding: 1rem;
                //lists
                &_option{
                    padding-left: 0.5rem;
                    font-weight: 400;
                    margin: 0.2rem 0;
                    cursor: pointer;
                }
            }            
        }
    }
    .grid_container{
        
    }

}
