
@keyframes fade-in {
    from{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        opacity: 0;
        visibility: visible;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

.open{
    animation: fade-in 300ms ease-in-out forwards;
}
//for closing
@keyframes fade-out {
    from{
        visibility: visible;
        opacity: 1;
    }
    1%{
        opacity: 1;
        visibility: visible;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.close{
    animation: fade-out 300ms  ease-out forwards;
}

@keyframes rotate-in {
    from{
        rotate: 0deg;
    }
    1%{
        rotate: 1deg;
    }
    to{
        rotate: 180deg;
    }
}
@keyframes rotate-out {
    from{
        rotate: 180deg;
    }
    1%{
        rotate: 181deg;
    }
    to{
        rotate: 360deg;
    }
}



.rotate-in{
    animation: rotate-in 0.5s ease-out forwards;
}

.rotate-out{
    animation: rotate-out 0.5s ease-out forwards;
}