//Import 
@use "../Variables/Variables" as *;

body{
    background-color: $dark-background;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: $TEXT-font;
    text-decoration: none;
}
